<div class="contents row">
  <div class="container">
    <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3> 
   <textarea cols="60" name="text" placeholder="text" rows="10"></textarea>
   <input type="submit" value="SENT">
   <% end %>
  </div>
</div>